<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/partials/head :: head('Creating New Post')">
    <meta charset="UTF-8">
</head>
<body>
<nav th:replace="templates/partials/navbar :: nav"></nav>
<header th:replace="templates/partials/header :: header('View One Post!')"></header>

<main class="text-center">
    <form action="/posts/create" method="post">
        <input name="title" placeholder="Your title...">
        <textarea name="description" placeholder="What you have to say..."></textarea>
        <button type="submit">Submit</button>
    </form>
</main>

<footer th:replace="templates/partials/partials :: footer"></footer>
<th:block th:include="templates/partials/scripts :: scripts"></th:block>
</body>
</html>