<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Creating New Post')">
    <meta charset="UTF-8">
</head>
<body>
<nav th:replace="partials/navbar :: nav"></nav>
<header th:replace="partials/header :: header('View One Post!')"></header>

<main class="text-center">
    <form action="/posts/create" method="post" th:object="${post}">
        <div>
            <label for="title">Title: </label>
            <input id="title" th:field="*{title}" placeholder="Your title...">
        </div>
        <div>
            <label for="desc">Body: </label>
            <textarea id="desc" th:field="*{body}" placeholder="What you have to say..."></textarea>
        </div>
        <button type="submit">Submit</button>
    </form>
</main>

<footer th:replace="partials/partials :: footer"></footer>
<th:block th:include="partials/scripts :: scripts"></th:block>
</body>
</html>