
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="nav">
    <ul class="nav bg-dark align-items-center">
        <li class="nav-item">
            <a id="blog" class="nav-link text-light" th:href="@{/}">Blog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" th:href="@{/posts}">Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" th:href="@{/posts/create}">Create Posts</a>
        </li>
        <li class="nav-item ml-auto">
            <a class="nav-link text-light" th:href="@{/register}">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" th:href="@{/login}">Login</a>
        </li>
    </ul>
</nav>
</body>
</html>