<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('Profile')">
    <meta charset="UTF-8">
</head>
<body>
<nav th:replace="partials/navbar :: nav"></nav>
<header th:replace="partials/header :: header('Your Profile!')"></header>

<div sec:authorize="isAuthenticated()">
    This content is only shown to authenticated users.

    User ID: <span th:text="${#authentication.principal.id}"/>
    Username: <span th:text="${#authentication.principal.username}"/>
    Email: <span th:text="${#authentication.principal.email}"/>
</div>

<main class="container">
    <div th:each="post : ${posts}" class="m-5">
        <div class="card mx-auto" style="width: 18rem;">
            <img th:src="${post.getImages()[0].getPath()}" alt="Photo Unavailable" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title" th:text="${post.getTitle()}"></h5>
                <p class="card-text" th:text="${post.getBody()}"></p>
                <div class="row justify-content-around">
                    <a th:href="@{/posts/{id}(id=${post.id})}" class="btn btn-primary">View</a>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Quick Edit
                    </button>
                    <form th:action="@{/posts/delete/(id=${post.id})}" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
                <div class="row justify-content-around">
                    <div th:each="category : ${post.getCategories()}">
                        <span class="badge badge-pill badge-secondary" th:text="${category.getName()}"></span>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Edit Post</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form th:action="@{/posts/update/(id=${post.id})}" method="post">
                                <div class="modal-body text-left">
                                    <div>
                                        <label for="title">Title: </label>
                                        <br>
                                        <input id="title" name="title" th:value="${post.getTitle()}" style="width: 100%">
                                    </div>
                                    <div>
                                        <label for="description">Description: </label>
                                        <br>
                                        <textarea id="description" name="description" th:text="${post.getBody()}" style="width: 100%; height: 200px"></textarea>
                                    </div>
                                    <div>
                                        <label for="created_by">Created By: </label>
                                        <br>
                                        <input id="created_by" name="created_by" th:value="${post.getOwner().getEmail()}" style="width: 100%" readonly>
                                    </div>
                                    <div>
                                        <label for="updated_by">Updated By: </label>
                                        <br>
                                        <input id="updated_by" name="updated_by" value="LoggedInAdmin" style="width: 100%" readonly>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>


<footer th:replace="partials/partials :: footer"></footer>
<th:block th:replace="partials/scripts :: scripts"></th:block>
</body>
</html>